{% if cloud_provider == "aws" -%}
name: 'AWS Infrastructure Pipeline'

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

permissions:
  id-token: write
  contents: read

jobs:
  aws-plan:
    if: github.event_name == 'pull_request'
    uses: zubayr-dev/iac-shared-workflows/.github/workflows/tf-aws-template.yml@main
    with:
      environment: 'staging-aws'
      is_apply: false
      working_directory: 'iac/ws-{{ workspace_name }}'
    secrets:
{% raw %}      AWS_ROLE_ARN: ${{ secrets.AWS_ROLE_ARN }}
{% endraw %}
  aws-apply:
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    uses: zubayr-dev/iac-shared-workflows/.github/workflows/tf-aws-template.yml@main
    with:
      environment: 'production-aws'
      is_apply: true
      working_directory: 'iac/ws-{{ workspace_name }}'
    secrets:
{% raw %}      AWS_ROLE_ARN: ${{ secrets.AWS_ROLE_ARN }}
{% endraw %}
{% else -%}
name: 'Azure Infrastructure Pipeline'

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

permissions:
  id-token: write
  contents: read

jobs:
  azure-plan:
    if: github.event_name == 'pull_request'
    uses: zubayr-dev/iac-shared-workflows/.github/workflows/tf-azure-template.yml@main
    with:
      environment: 'staging-azure'
      is_apply: false
      working_directory: 'iac/ws-{{ workspace_name }}'
    secrets:
{% raw %}      AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
      AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
{% endraw %}
  azure-apply:
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    uses: zubayr-dev/iac-shared-workflows/.github/workflows/tf-azure-template.yml@main
    with:
      environment: 'production-azure'
      is_apply: true
      working_directory: 'iac/ws-{{ workspace_name }}'
    secrets:
{% raw %}      AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
      AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
{% endraw %}
{% endif -%}
